@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@900&display=swap');

body {
  display: grid;
  height: 100vh;
  margin: 0;
  place-items: center;
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}

.wrapper {
  position: relative;
}

.circle {
  position: absolute;
  height: 150px;
  width: 150px;
  background: black;
  border-radius: 50%;
}

.circle1 {
  background: #12c2e9;
  right: -60px;
  top: -60px;
/*   animation: circle1 10s ease-in-out alternate infinite; */
}

@keyframes circle1 {
  100% {
    top: 60px;
  }
}

.circle2 {
  background: #f64f59;
  bottom: -60px;
  left: -60px;
/*   animation: circle2 10s ease-in-out alternate infinite; */
}

@keyframes circle2 {
  100% {
    bottom: 60px;
  }
}

.form {
  position: relative;
  width: 450px;
  height: 450px;
  display: grid;
  place-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  backdrop-filter: blur(12px);
  box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: white;
  letter-spacing: 2px;
  margin-top: 0;
}

input, button {
  font-size: 16px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 20px auto;
  padding: 12px 20px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 13px 21px rgba(0, 0, 0, 0.05);
}

input:focus {
  outline: none;
}

input::placeholder {
  color: white;
}

button {
  cursor: pointer;
  background: #f64f59;
  color: white;
  transition: 0.5s;
}

button:hover {
  background: #12c2e9;
}

.forgot-signup {
  display: flex;
  justify-content: space-between;;
}

a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}